@font-face {
  font-family: 'Bitstream Charter';
  font-style: normal;
  font-weight: 400;
  src: url('woff2/CharterBT-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Bitstream Charter';
  font-style: italic;
  font-weight: 400;
  src: url('woff2/CharterBT-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Bitstream Charter';
  font-style: normal;
  font-weight: 700;
  src: url('woff2/CharterBT-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Bitstream Charter';
  font-style: italic;
  font-weight: 700;
  src: url('woff2/CharterBT-BoldItalic.woff2') format('woff2');
}